<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new post  </title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Enter your username"><br>
        <input type="text" name="content" placeholder="Enter your post content"><br>
        <button type="submit">Create Post</button>
    </form>
    
</body>
</html>